<!-- wp:template-part {"slug":"header","theme":"lgsdn","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"wide","className":"lgsdn-network-page","layout":{"type":"constrained"}} -->
<main id="main-content" class="wp-block-group alignwide lgsdn-network-page" tabindex="-1">
	<!-- wp:group {"className":"lgsdn-network-page__header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group lgsdn-network-page__header">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-content {"className":"lgsdn-article lgsdn-network-page__intro"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:lgsdn/network-index /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"lgsdn","tagName":"footer"} /-->
